<div class="modal fade show custom-modal"
     tabindex="-1"
     aria-modal="true"
     style="display: block;"
     (click)="$event.target === $event.currentTarget && close.emit(false)">

  <div class="modal-dialog modal-dialog-slide modal-lg">
    <div class="modal-content border-0 shadow-lg">

      <!-- HEADER -->
      <div class="modal-header border-0" style="background:#d4145a; color:white;">
        <h5 class="modal-title">
          <i class="bi bi-pencil-square"></i> Editar Cliente
        </h5>
        <button type="button"
                class="btn-close btn-close-white"
                (click)="close.emit(false)">
        </button>
      </div>

      <!-- BODY -->
      <div class="modal-body" *ngIf="form">

        <div class="row g-3">

          <div class="col-md-6">
            <label class="form-label fw-bold">Nombre</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="form.fullName">
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Teléfono</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="form.phone">
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Email</label>
            <input type="email"
                   class="form-control"
                   [(ngModel)]="form.email">
          </div>

          <div class="col-md-6">
            <label class="form-label fw-bold">Dirección</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="form.address">
          </div>

          <div class="col-md-4">
            <label class="form-label fw-bold">Estado</label>
            <select class="form-select"
                    [(ngModel)]="form.isActive">
              <option [ngValue]="true">Activo</option>
              <option [ngValue]="false">Inactivo</option>
            </select>
          </div>

        </div>

      </div>

      <!-- FOOTER -->
      <div class="modal-footer border-0">
        <button class="btn btn-outline-secondary"
                (click)="close.emit(false)">
          Cancelar
        </button>

        <button class="btn btn-primary"
                (click)="save()">
          <i class="bi bi-check-circle"></i> Guardar cambios
        </button>
      </div>

    </div>
  </div>
</div>
